body
{
     background:linear-gradient(360deg,red,white);
     margin: 0;
     padding: 0;
}

.img-card img {
    width: 666px;
    height: 375px;
  }

  .img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }


.card
{
    cursor: pointer;
}

.card:hover
{
    transform:translateY(10px);
    box-shadow: 10px 10px 30px black;
    background-color: rgb(157, 255, 255);
}
  
.btn:hover
{
  background-color:red;
  font-weight: 500;

}